
 @import 'bootstrap';

@media (min-width: 30em) {
    .row { width: 100%; display: table; table-layout: fixed; }
    .col { display: table-cell; }
}

@media screen and (min-width: 0px) and (max-width: 40em) {
  #image-doge { display: none; }
  .borderz {   left:0%; right:0%; width:90%;}
}

@media screen and (min-width: 40em) and (max-width: 2000px) {
  #image-doge { display: block; }
  .borderz {   left:10%; right:10%; width:70%;}
}

html {
  font-family: sans-serif;
  background-color: #F3F3F3;
  min-height:100%;/* make sure it is at least as tall as the viewport */
}

body {
  padding-top:8px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 80px;
  background-color: white;
  margin: auto;
  height: 100%;
  position: absolute;
}

a {
  text-decoration: none;
  font-variant: bold;
  color: blue;
}

a:hover {
  color: black;
}

header
{
  display: table;
  width: 100%;
}
header h1
{
  display: table-cell;
  text-align: left;
}
header span
{
  display: table-cell;
  text-align: right;
}
.errors {
  color:red;
  font-style: italic;
}
.button {
  color:white;
  font-family: sans-serif;
  font-size: 20px;
  padding:10px;
  border: none;
  border-radius: 5px;
}

.button:hover{
  background-color: black;
}

.button-edit {
  background-color: green;
  float: left;
  margin: 0;
}

.button-delete {
  background-color: red;
  float: left;
  margin: 0;
}

.button-create {
  background-color: blue;
}
